html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media only screen and (max-width: 767px) {
  html, body {
    height: 100%;
  }
  html .container, body .container {
    height: 100%;
    background-color: #202632;
    padding: 8rem 1rem 15rem 1rem;
  }
  html .container .card, body .container .card {
    width: 90%;
    height: 81%;
    background-color: #313a49;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 2rem 5rem 2rem;
  }
  html .container .card .title, body .container .card .title {
    color: #4ddd98;
    min-block-size: 3rem;
    border: solid red 2px;
  }
  html .container .card .advice, body .container .card .advice {
    color: #c0d4db;
    padding: 0 3rem;
    border: solid red 2px;
  }
  html .container .card .line, body .container .card .line {
    color: #cee2e9;
    border: solid red 2px;
  }
  html .container .card .green-circle, body .container .card .green-circle {
    position: relative;
    background-color: #53ffa9;
    width: 21%;
    padding-top: 21%;
    height: auto;
    border-radius: 50%;
    margin-bottom: -10%;
  }
  html .container .card .green-circle .svgDice, body .container .card .green-circle .svgDice {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
  }
}
@media only screen and (min-width: 768px) {
  html, body {
    height: 100%;
  }
  html .container, body .container {
    height: 100%;
    background-color: #202632;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  html .container .card, body .container .card {
    width: 37.87%;
    height: 40.53%;
    background-color: #313a49;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  html .container .card .title, body .container .card .title {
    color: #4ddd98;
    min-block-size: 3rem;
    border: solid red 2px;
  }
  html .container .card .advice, body .container .card .advice {
    color: #c0d4db;
    padding: 0 3rem;
    border: solid red 2px;
  }
  html .container .card .line, body .container .card .line {
    color: #cee2e9;
    border: solid red 2px;
  }
  html .container .card .green-circle, body .container .card .green-circle {
    position: relative;
    background-color: #53ffa9;
    width: 15.66%;
    padding-top: 15.66%;
    height: auto;
    border-radius: 50%;
    margin-bottom: -8%;
  }
  html .container .card .green-circle .svgDice, body .container .card .green-circle .svgDice {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/*# sourceMappingURL=adviceGen.css.map */
